.activate-assistant {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(102, 235, 255, 1);
  background-image: url('../imgs/activate-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.activate-assistant__content {
  margin-top: 78px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.activate-assistant__carousel {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  border-radius: 20px;
}

.activate-assistant__image {
  width: auto;
  height: auto;
  object-fit: initial;
  display: block;
}

.activate-assistant__actions {
  margin-top: 65px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.activate-assistant__enable-btn {
  width: 250px;
  height: 38px;
  border: none;
  border-radius: 99px;
  background: linear-gradient(90deg, rgba(66, 176, 255, 1) 0%, rgba(31, 120, 255, 1) 100%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
